
body {
  background: #eee;
}

article {
  background: #fff;
  width: 30em;
  margin: 0 auto 0;
  padding: 2em;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
  border-radius: 5px;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

td {
  width: 100%;
}

table {
  width: 100%;
}

input {
  width: 100%;
}
