
html, body {
  height: 100%;
}

body > .vbox {
  height: 100%;
}

.vbox {
  display: flex;
  flex-direction: column;
}

.hbox {
  display: flex;
}

.no-shrink {
  flex-shrink: 0;
}

.grow {
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 2;
}

$sidebar-width: 11em;
