form .errors {
  margin-bottom: 1em;
  display: inline-block;
  background: #fee;
  color: #c00;
  border-radius: 1em;
  padding: 1em;
  border: 1px solid #edd;
  box-shadow: rgba(#000, 0.2) 1px 1px 1px;
  position: relative;
  padding-left: 3em;
  i {
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    font-size: 1.5em;
  }
  h2 {
    font-weight: bold;
  }
  ul {
    list-style: square;
    padding-left: 1.5em;
  }
}

textarea {
  display: block;
}

input[type='text'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='email'],
input[type='password'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime-local'],
input[type='number'],
textarea,
input:not([type])
{
  color: #000;
  background: #fff;
  padding: 0.2em 0.6em;
  box-shadow: rgba(#000, 0.1) 1px 1px 1px inset;
  padding: 0.2em 0.4em;
  border: 1px solid #aaa;
}

input[type='submit'],
input[type='reset'],
input[type='button'],
input[type='color'],
::-webkit-file-upload-button,
button,
summary,
a[href].button,
select
{
  display: inline-block;
  color: #000;
  border: 1px solid #aaa;
  border-radius: 1px;
  padding: 0.5ex 1ex;
  background: #fff linear-gradient(#fafafa, #f0f0f0);
  &:hover {
    border-color: #88a;
  }
  &:active {
    background: #eee linear-gradient(#d0d0d0, #dadada);
  }
}
