.text-right {
  text-align: right;
}

.no-wrap {
  white-space: nowrap;
}

.float-right {
  float: right;
}

.inline {
  display: inline;
}

.server-state {
  text-transform: uppercase;
  font-size: smaller;
  padding: 0ex 1ex;
  border-radius: 0.5ex;
  font-weight: bold;
}

.server-state.stopped {
  background: #f00;
  color: #fff;
}

.server-state.running
 {
  background: #0c0;
  color: #fff;
}

.server-state.paused
 {
  background: #aa0;
  color: #fff;
}

.server-state.unknown
 {
  background: #666;
  color: #fff;
}

.hide
{
  display: none;
}

pre samp {
  white-space: pre-line;
  display: block;
  width: 100%;
  overflow: auto;
}
