* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  background: transparent;
  color: inherit;
  text-decoration: none;
  vertical-align: baseline;
}

ul, ol, menu {
  list-style: none;
}

body {
  text-align: left;
}

table {
  border-collapse: collapse;
}

summary {
  cursor: default;
}
