fieldset {
  background: #e5e5e5;
  box-shadow: rgba(#000, 0.3) 0 2px 2px 1px;
  position: relative;
  padding: 2em 1em 1em;
  color: #333;
  legend {
    position: absolute;
    top: 1em;
    left: 0.5em;
    color: #aaa;
    font-weight: bold;
    padding: 0 0.25em;
  }
}

table.properties > tbody {
  & > tr > td {
    padding-left: 1em;
  }
  & > tr:first-child > td, tr:first-child > th {
    padding-top: 0;
  }
  & > tr > td, & > tr > th {
    padding-top: 0.5em;
  }
}

textarea {
  display: block;
}

input[type='text'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='email'],
input[type='password'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime-local'],
input[type='number'],
textarea,
input:not([type])
{
  background: #fff;
  border-radius: 0.3em;
  box-shadow: rgba(#000, 0.3) 0 1px 1px 1px;
  fieldset & {
    box-shadow: rgba(#000, 0.3) 0 1px 1px;
  }
  padding: 0.2em 0.4em;
}

input[type='checkbox']
{
  background: #fff;
}

input[type='submit'],
input[type='reset'],
input[type='button'],
input[type='color'],
::-webkit-file-upload-button,
button,
summary
{
  background: linear-gradient(#d5d5d5, #c5c5c5);
  border-radius: 0.3em;
  border: 0;
  padding: 0.2em 0.8em;
  box-shadow: rgba(#000, 0.3) 0 1px 1px 1px;
  fieldset & {
    box-shadow: rgba(#000, 0.5) 0 1px 1px;
  }
  &:hover, &:active {
    background: linear-gradient(#fff, #f0f0f0);
  }
  &:active:hover {
    color: #eee;
    background: #666;
    box-shadow: rgba(#000, 0.2) 0 0 10px 1px inset;
  }
}

select
{
  background: linear-gradient(#d5d5d5, #c5c5c5);
  border-radius: 0.3em;
  border: 0;
  padding: 0.2em 0 0.2em 0.5em;
  box-shadow: rgba(#000, 0.3) 0 1px 1px 1px;
  fieldset & {
    box-shadow: rgba(#000, 0.5) 0 1px 1px;
  }
  &:hover {
    background: linear-gradient(#fff, #f0f0f0);
  }
}

progress, meter {
  border-radius: 0.3em;
  box-shadow: rgba(#000, 0.3) 0 1px 1px;
  background: #fff;
  padding: 0.1em;
  &::-webkit-progress-bar, &::-webkit-meter-bar {
    background: linear-gradient(#c0c0c0, #e0e0e0);
    border-radius: 0.3em;
  }
  &::-webkit-progress-value, &::-webkit-meter-optimum-value {
    background: linear-gradient(#a0a0a0, #808080);
    border-radius: 0.3em;
  }
}

details {
  border-top: 1px solid rgba(#000, 0.1);
  border-bottom: 1px solid rgba(#fff, 0.3);
  position: relative;
  margin: 1.75em 0 1.5em 0;
  padding: 0 0 0 1em;
  &[open] {
    border: 0;
    background: rgba(#000, 0.1);
    box-shadow: rgba(#000, 0.2) 0 1px 1px 1px;
    fieldset & {
      background: rgba(#fff, 0.2);
      box-shadow: rgba(#000, 0.2) 0 1px 1px;
    }
    padding: 0.5em 1em 1em;
    summary {
      top: 1px;
      color: #eee;
      background: #666;
      box-shadow: rgba(#000, 0.2) 0 0 10px 1px inset;
    }
  }
}

summary {
  position: absolute;
  top: 0;
  height: 1.5em;
  margin-top: -1em + 0.15em;
  padding: 0.15em 0.5em 0.35em;
}
