form .errors {
  margin-bottom: 1em;
  display: inline-block;
  background: #fee;
  color: #c00;
  border-radius: 1em;
  padding: 1em;
  border: 1px solid #edd;
  box-shadow: rgba(#000, 0.2) 1px 1px 1px;
  position: relative;
  padding-left: 3em;
  i {
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    font-size: 1.5em;
  }
  h2 {
    font-weight: bold;
  }
  ul {
    list-style: square;
    padding-left: 1.5em;
  }
}

textarea {
  display: block;
}

input[type='text'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='email'],
input[type='password'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime-local'],
input[type='number'],
textarea,
input:not([type])
{
  color: #000;
  background: #fff;
  padding: 0.2em 0.6em;
  border-radius: 1em;
  box-shadow: rgba(#000, 0.2) 1px 1px 1px inset,
              rgba(#000, 0.2) 0 0 1px;
  padding: 0.2em 0.4em;
}

input[type='submit'],
input[type='reset'],
input[type='button'],
input[type='color'],
::-webkit-file-upload-button,
button,
summary
{
  color: #fff;
  background: #58a linear-gradient(#58a + #111, #58a - #111);
  border-radius: 1em;
  padding: 0.4em 0.8em;
  box-shadow: rgba(#000, 0.3) 1px 1px 1px;
  display: inline-block;
  &:hover, &:active {
    background: #58a+#111 linear-gradient(#58a + #222, #58a - #000);
  }
  &:active:hover, &.active:hover {
    color: #eee;
    background: #58a-#111 linear-gradient(#58a - #111, #58a - #222);
    box-shadow: rgba(#000, 0.2) 0 0 10px 1px inset,
                rgba(#fff, 0.4) 1px 1px,
                rgba(#000, 0.1) -1px -1px;
  }
}

select
{
  color: #000;
  background: #fff;
  background-image: linear-gradient(#d5d5d5, #c5c5c5);
  border-radius: 1em;
  border: 0;
  padding: 0.2em 0 0.2em 0.5em;
  box-shadow: rgba(#000, 0.3) 1px 1px 1px;
  &:active, &:hover {
    background: linear-gradient(#d5d5d5+#111, #c5c5c5+#111);
  }
}

