body {
  background: #eee;
}

#site-header {
  background: #fff;
  box-shadow: rgba(#000, 0.1) 0 0 0.5ex;
}

#site-nav {
  margin: 1ex;
  padding: 1em;
  background: #fff;
  box-shadow: rgba(#000, 0.1) 0 0 0.5ex;
}

article {
}
