#site-nav {
  flex-shrink: 0;
  overflow: auto;
  h2 {
    margin-top: 1em;
    opacity: 0.5;
  }
  menu:first-child li:first-child h2 {
    margin-top: 0;
  }
  a {
    i {
      display: none;
    }
    display: block;
    margin-top: 1ex;
  }
}
