
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas: "header header"
                       "nav    content"
                       "footer footer";
  > header {
    grid-area: header;
    display: flex;
    color: #fff;
    background: #333;
    border-bottom: 1px solid #660;
    padding: 1ex 1em;
    menu {
      display: flex;
      li {
        margin-left: 1em;
      }
    }
    a:link, a:visited {
      color: #fff;
    }
  }

  > nav {
    grid-area: nav;
    background: #eee;
    padding: 0 1em;
    h2 {
      margin: 1em 0 1ex;
    }
  }

  > main {
    grid-area: content;
    padding: 1em;
    > header {
      display: flex;
      align-items: baseline;
      menu {
        display: flex;
      }
      aside, li {
        margin-left: 1em;
      }
      h2 {
        font-size: 2em;
        color: #999;
        &::after {
          content: "/";
        }
      }
      &:hover {
        color: #333;
      }
      h1 {
        flex-grow: 1;
        font-size: 2em;
        margin-bottom: 1rem;
      }
    }
    > main {
      h2 {
        font-size: 1.5em;
        margin: 1em 0 1ex;
      }
      h3 {
        font-size: 1.25em;
        margin: 1em 0 1ex;
      }
      p {
        margin: 1em 0 1ex;
      }
    }
    > menu {
      margin-bottom: 1rem;
      padding: 1ex;
      display: flex;
      background: #eee;
      li {
        margin-right: 1em;
      }
    }
  }

  > footer {
    grid-area: footer;
    text-align: center;
    color: #fff;
    background: #333;
    height: 1ex;
  }

}

table {
  th, td {
    padding: 1ex;
  }
}