
input[type='text'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='email'],
input[type='password'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime-local'],
input[type='number'],
textarea,
input:not([type])
{
  border: 1px solid rgba(#000, 0.4);
  background: rgba(#aff, 0.05);
  padding: 0.5ex 1ex;
}

select {
}

textarea {
  width: 100%;
}

input[type='submit'],
input[type='reset'],
input[type='button'],
input[type='color'],
::-webkit-file-upload-button,
button,
summary,
a[href].button,
{
  padding: 0.5ex 1ex;
  border: 1px solid rgba(#000, 0.3);
  display: inline-block;
  &:hover {
    background: #eee;
  }
  &:active {
    background: #999;
  }
}

// option, optgroup {
//   -webkit-appearance: none;
//   background: #000;
// }
