.server-box {
	display: inline-block;
	margin-bottom: 1em;
	width: 25%;
	border: 1px solid rgba(black, 0.25);
	border-radius: 2px;
	box-shadow: rgba(#000, 0.25) 1px 1px 4px;
	padding: 10px;
	position: relative;
	background: #f0f0f0;
	.state {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 2px;
		&.state-stopped {
			background: rgba(#000, 0.6);
		}
		&.state-running {
			background: rgba(#0f0, 0.6);
		}
		&.state-paused {
			background: rgba(#f80, 0.6);
		}
	}
}

.q.server-box {
	.data {
		display: flex;
	}
	.screen {
		.name {
			position: absolute;
			text-align: center;
			top: 2rem;
			font-size: 1.5em;
			min-width: 219.5px;
			padding: 0 30px;
			box-sizing: border-box;
		}
		min-width: 219.5px;
		min-height: 173.5px;
		background-image: url(image-path("screen.png"));
		background-size: 100% 100%;
		color: #fff;
		position: relative;
	}
	.address {
		user-select: all;
		position: absolute;
		right: 26px;
		top: 8px;
		font-size: small;
	}
	.spec {
		user-select: all;
		position: absolute;
		left: 22px;
		bottom: 52px;
		font-size: small;
	}
	.state {
		position: absolute;
		left: 22px;
		bottom: 36px;
		width: 6px;
		height: 8px;
		overflow: hidden;
		&.stopped {
			background: rgba(#000, 0.6);
			box-shadow: rgba(#000, 0.2) 1px 1px 4px 0 inset,
									rgba(#fff, 0.2) 1px 1px 0 0;
		}
		&.running {
			background: rgba(#0f0, 0.6);
			box-shadow: rgba(#000, 0.2) 1px 1px 2px 0 inset,
									rgba(#fff, 0.2) 1px 1px 0 0,
									rgba(#0f0, 0.2) 0 0 2px 1px;
		}
		&.paused {
			background: rgba(#f80, 0.6);
			box-shadow: rgba(#000, 0.2) 1px 1px 2px 0 inset,
									rgba(#fff, 0.2) 1px 1px 0 0,
									rgba(#f80, 0.2) 0 0 2px 1px;
		}
	}
	.tags {
		user-select: all;
		position: absolute;
		right: 26px;
		bottom: 33px;
		color: #000;
		font-size: smaller;
		text-shadow: rgba(#fff, 0.5) 1px 1px 0;
	}
	.name {
		text-align: center;
	}
}
